<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.habeshapool"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/pool_ball_3_icon_round"
        android:allowBackup="true"
        android:label="Habesha Pool"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".GameActivity" />
        <activity android:name=".PlayerSelectionActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>