<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.habeshapool.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/pool_ball_3_icon_round"
        android:allowBackup="true"
        android:label="Habesha Pool"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="com.habeshapool.app.GameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.habeshapool.app.PlayerSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.habeshapool.app.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>